<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to AmICredible! Let's Get Started</title>
    <link
      href="https://fonts.googleapis.com/css?family=Inter:500,600,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      background: #f4faff;
      font-family: 'Inter', Arial, sans-serif;
      color: #1d203e;
      letter-spacing: -2%;
      line-height: 26px;
    "
  >
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      border="0"
      style="background: #f4faff"
    >
      <tr>
        <td align="center">
          <table
            width="100%"
            cellpadding="0"
            cellspacing="0"
            border="0"
            style="
              max-width: 480px;
              background: #fff;
              border-radius: 8px;
              box-shadow: 0 2px 8px #1d203e14;
              margin: 32px 0;
            "
          >
            <!-- Shared Header -->
            <!-- {{ shared/header.html banner-image="welcome-get-started.png"
            banner-alt="Welcome to AmICredible! Let's Get Started." }} -->
            <!-- Logo part  -->
            <tr>
              <td align="center" style="padding: 8px 0px 8px 0px">
                <img
                  src="images/logo.png"
                  alt="AmICredible Logo"
                  style="
                    display: block;
                    max-width: 64px;
                    max-height: 64px;
                    height: auto;
                  "
                />
              </td>
            </tr>
            <!-- Banner part  -->
            <tr>
              <td>
                <table width="100%">
                  <tr>
                    <td align="center">
                      <img
                        src="images/welcome-get-started.jpg"
                        alt="Welcome to AmICredible! Let's Get Started."
                        style="
                          display: block;
                          width: 100%;
                          max-width: 432px;
                          border-radius: 10px;
                        "
                      />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- Content part  -->
            <tr>
              <td style="padding: 32px 24px 0 24px">
                <h2
                  style="
                    margin: 0 0 16px 0;
                    font-size: 26px;
                    font-weight: 700;
                    color: #1d203e;
                  "
                >
                  Hi {{username}},
                </h2>
                <p style="margin: 0 0 16px 0; font-size: 15px; color: #1d203e">
                  On behalf of the AmICredible team, let me be the first to
                  welcome you. Our shared goal is to create more trust and
                  respect in our online conversations. The AmICredible app is
                  going to help you become more informed about your messages
                  before you post them, building your credibility online as you
                  have respectful discussions.
                </p>
                <br />
                <p style="margin: 0 0 16px 0; font-size: 15px; color: #1d203e">
                  Using AmICredible is designed to be simple.
                </p>
                <p
                  style="
                    margin: 0 0 8px 0;
                    font-size: 20px;
                    color: #1d203e;
                    font-weight: 700;
                  "
                >
                  Here are the basics to get you started:
                </p>
                <table
                  width="100%"
                  cellpadding="0"
                  cellspacing="0"
                  border="0"
                  style="
                    background: rgba(255, 249, 230, 0.4);
                    border: 1px solid #ffc851;
                    border-radius: 6px;
                    margin-bottom: 24px;
                  "
                >
                  <tr>
                    <td style="padding: 16px; font-size: 14px">
                      <div style="margin-bottom: 24px">
                        <p
                          style="
                            font-weight: 700;
                            color: #1d203eb2;
                            margin: 0 0 0 0;
                          "
                        >
                          STEP 1: VALIDATE YOUR POST
                        </p>
                        <p
                          style="
                            margin: 0 0 0 0;
                            font-size: 15px;
                            color: #1d203e;
                          "
                        >
                          Check your statement's credibility before posting to
                          avoid spreading false information. Then you can make
                          edits or post your statement as it is. The choice is
                          yours.
                        </p>
                      </div>
                      <div style="margin-bottom: 24px">
                        <p
                          style="
                            font-weight: 700;
                            color: #1d203eb2;
                            margin: 0 0 0 0;
                          "
                        >
                          STEP 2: SHARE WITH CONFIDENCE
                        </p>
                        <p
                          style="
                            margin: 0 0 0 0;
                            font-size: 15px;
                            color: #1d203e;
                          "
                        >
                          Post your verified statement on social media,
                          including a link to its credibility report.
                        </p>
                      </div>
                      <div style="margin-bottom: 24px">
                        <p
                          style="
                            font-weight: 700;
                            color: #1d203eb2;
                            margin: 0 0 0 0;
                          "
                        >
                          STEP 3: TRACK YOUR CREDIBILITY
                        </p>
                        <p
                          style="
                            margin: 0 0 0 0;
                            font-size: 15px;
                            color: #1d203e;
                          "
                        >
                          Credibility score based on the posts you share and
                          build your authority over time.
                        </p>
                      </div>
                      <div style="margin-bottom: 24px">
                        <p
                          style="
                            font-weight: 700;
                            color: #1d203eb2;
                            margin: 0 0 0 0;
                          "
                        >
                          STEP 4: VERIFY OTHERS' POSTS
                        </p>
                        <p
                          style="
                            margin: 0 0 0 0;
                            font-size: 15px;
                            color: #1d203e;
                          "
                        >
                          Paste any statement into AmICredible to check its
                          accuracy and help prevent misinformation from
                          spreading.
                        </p>
                      </div>
                    </td>
                  </tr>
                </table>
                <!-- Shared Button -->
                <div style="text-align: center; margin-bottom: 24px">
                  <!-- {% include 'shared/button.html' %} -->
                  <a
                    href="https://alpha.AmICredible.com/dashboard/"
                    style="
                      display: inline-block;
                      width: 85%;
                      background: #377629;
                      color: #fff;
                      font-weight: 600;
                      text-decoration: none;
                      padding: 12px 32px;
                      border-radius: 6px;
                      font-size: 15px;
                      margin: 16px 0 0 0;
                      font-family: 'Inter', Arial, sans-serif;
                    "
                  >
                    Go To Dashboard
                  </a>
                </div>
                <p style="margin: 0 0 0 0; font-size: 15px; color: #1d203e">
                  With AmICredible, the power of credibility is finally in your
                  hands. We're glad you're a part of making truth and respect
                  online. As always, I welcome your feedback and suggestions.
                  Together, we can change the conversation, one post at a time.
                </p>
              </td>
            </tr>
            <tr>
              <td style="padding: 24px 24px 0 24px">
                <hr style="border: 1px solid rgba(0, 0, 0, 0.1)" />

                <p
                  style="margin: 20px 0 10px 0; font-size: 15px; color: #1d203e"
                >
                  Best regards,<br />Dan Nottingham, Founder<br />AmICredible
                </p>
              </td>
            </tr>
            <!-- {% include "shared/footer.html" with year=2024 %} -->
            <!-- Spacer for margin above the footer box -->
            <tr>
              <td height="24" style="line-height: 24px; font-size: 1px">
                &nbsp;
              </td>
            </tr>
            <!-- Footer part  -->
            <tr>
              <td align="center">
                <table
                  width="90%"
                  cellpadding="0"
                  cellspacing="0"
                  border="0"
                  style="
                    background: #f8f8f8;
                    border-radius: 8px;
                    padding: 0;
                    margin: 0 auto;
                  "
                >
                  <tr>
                    <td style="padding: 24px; font-size: 12px; color: #66605e">
                      <div
                        style="margin-bottom: 8px; color: rgba(29, 32, 62, 0.5)"
                      >
                        © 2024 AmICredible. All Rights Reserved
                      </div>
                      <div
                        style="margin-bottom: 8px; color: rgba(29, 32, 62, 0.5)"
                      >
                        2907 Dauphine Street, Suite C
                      </div>
                      <div>
                        <a
                          href="#"
                          style="
                            color: rgba(29, 32, 62, 0.5);
                            text-decoration: none;
                            margin-right: 18px;
                          "
                          >Privacy Policy</a
                        >
                        <a
                          href="#"
                          style="
                            color: rgba(29, 32, 62, 0.5);
                            text-decoration: none;
                            margin-right: 18px;
                          "
                          >Get Help</a
                        >
                        <a
                          href="#"
                          style="
                            color: rgba(29, 32, 62, 0.5);
                            text-decoration: none;
                            margin: 0 8px;
                          "
                          >Web Version</a
                        >
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- Spacer for margin below the footer box -->
            <tr>
              <td height="24" style="line-height: 24px; font-size: 1px">
                &nbsp;
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
